<tr class="d-flex">
  <th class="col-6"><%= f.label :"商品名" %></th>
  <td class="col-6"><%= f.text_field :name %></td>
</tr>
<tr class="d-flex">
  <th class="col-6"><%= f.label :"商品説明" %></th>
  <td class="col-6"><%= f.text_area :detail %></td>
</tr>
<tr class="d-flex">
  <th class="col-6"><%= f.label :"ジャンル" %></th>
  <td class="col-6"><%= f.collection_select(:genre_id, Genre.all, :id, :name , prompt: "-- 選択してください --") %></td>
</tr>
<tr class="d-flex">
  <th class="col-6"><%= f.label :"税抜価格" %></th>
  <td class="col-6"><%= f.text_field :price, size: 10 %>円</td>
</tr>
<tr class="d-flex">
  <th class="col-6"><%= f.label :"販売ステータス" %></th>
  <td class="col-6">
    <%= f.label :is_sold, "販売中" %>
    <%= f.radio_button :is_sold, true %>
    <%= f.label :is_sold, "販売停止中" %>
    <%= f.radio_button :is_sold, false %>
  </td>
</tr>