<h2>商品一覧</h2>
<%= link_to do %>
  <i class="fas fa-plus"></i>
<% end %>
<div>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>item.id</td>
          <td>
            <%= link_to admin_item_path(item) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td>
            ¥<%= item.price(税抜き価格)%>
          </td>
          <td>
            <%= item.genre.name %>
          </td>
          <td>
            <% if %>
              <p>販売中</p>
            <% elsif %>
              <p>販売停止中</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div><%#= paginate @items %></div>