<h2>商品詳細</h2>
<div>
  <%= attachment_image_tag %>
</div>
<div>
  <p>商品名<%= @item.name %></p>
</div>
<div>
  <p>商品説明<%= @item.explanation %></p>
</div>
<div>
  <p>ジャンル<%= @item.@genre.name %></p>
</div>
<div>
	<p>
		税込価格
		(税抜価格)
	</p>
</div>
<div>
  <p>
    販売ステータス
    <% if %>
      <p>販売中</p>
    <% elsif %>
      <p>販売停止中</p>
    <% end %>
  </p>
</div>
<div>
  <%= link_to "編集する" %>
</div>