<h2>商品詳細</h2>
<div>
  <%= attachment_image_tag(@item, :image, size: "100x10") %>
</div>
<div>
  <p>商品名<%= @item.name %></p>
</div>
<div>
  <p>商品説明<%= @item.explanation %></p>
</div>
<div>
  <p>ジャンル<%= @item.genre.name %></p>
</div>
<div>
	<p>
		税込価格
		(税抜価格)
	</p>
</div>
<div>
  <p>
    販売ステータス
    <% if @item.is_sold == true %>
      <p>販売中</p>
    <% elsif @item.is_sold == false %>
      <p>販売停止中</p>
    <% end %>
  </p>
</div>
<div>
  <%= link_to "編集する", edit_admin_item_path(@item) %>
</div>