<%# TODO:20210120商品一覧・ジャンル一覧に対応する（エンドユーザ側ワイヤーフレーム閲覧用P5より） %>
<%# TODO:20210120画像サイズをチームで決定する（一覧上のものはとりあえず縦100*横200） %>

<h2><%= page_name %>一覧<span>（全<%= items.count%>件）</span></h2>
<div id="item-index-space">
  <% items.each do |item| %>
  <div class="item-space" id="#{item.id}-space">
    <%= link_to item_path(item)%>
    <%= attachment_image_tag(item, :image_id, :fill, 100, 200, fallback: "no-image-icon.jpg") %>
    <br>
    <%= item.name %>
    \<%= render "expression_of_price_with_tax", item_price:item.price %>
    <% end %>
  </div>
  <% end %>
</div>