<%# <div class="container"> %>
<%# <div class="row"> %>
<span id="page-name">配送先編集</span>
<%# </div> %>
<%# <div class="row"> %>
<%= form_with model:@address, local:true do |f| %>
<div class="form-group">
  <%= f.label :postal_code "郵便番号(ハイフンなし)" %>
  <%= f.text_area :postal_code, class: "form_control postal_code" %>
</div>
<div class="form-group">
  <%= f.label :address "住所" %>
  <%= f.text_area :postal_code, class: "form_control address" %>
</div>
<div class="form-group">
  <%= f.label :name "宛名" %>
  <%= f.text_field :name, class: "form_control name" %>
  <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
</div>
<% end %>
<%# </div> %>
<%# </div> %>