<div class="container">
  <div class="row">
    <div class="mx-auto col-10 col-sm-10 col-lg-10 col-xl-10 px-3">
      <div class="main-visual shadow img-fluid" alt="Responsive image">
        <h3 class="main-visual-title text-dark text-center font-weight-bold">
          ようこそ<span class="title-logo font-weight-bold"> ながの</span><span class="title-logo-2 font-weight-bold">CAKE</span> へ！</h3></br></br>
          <h4 class="main-visual-text text-body text-center">このサイトは、ケーキ販売のECサイトになります。
          </br>会員でない方も商品の閲覧はできますが、</br>購入には会員登録が必要になります。
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 mt-2 ml-5">
      <h3>新着商品</h3>
    </div>
  </div>
  <div class="row center-block">
    <% @item.each do |item| %>
    <div class="col-2 mt-1 ml-2">
      <%= link_to public_item_path(item.id), :style=>"color:black;" do %>
        <%= attachment_image_tag(item, :image, size: "120x120", fallback: "no_image.jpg") %></br>
        <%= item.name %></br>
        <p><span>￥</span><%= (item.price * @tax).to_i.to_s(:delimited, delimiter: ',') %></p>
      <% end %>
    </div>
    <% end %>
    <div class="row">
    <div class="d-flex align-items-end text-right">
      <%= link_to "全ての商品を見る＞", public_items_path, class: "fas fa-gifts nav-link text-teal m-3" %>
    </div>
    </div>
  </div>
</div>
