<h3>ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-sm btn-success" %>
  </div>
<% end %>

<h4>会員登録がお済みでない方</h4>
<%= link_to "こちら", new_customer_registration_path %><span>から新規登録を行ってください。</span>