<h3>注文情報確認画面</h3>
<table>
    <thread>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thread>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.name %></td>
              <td><%= order.purchased_price %></td>
              <td><%= order.count %></td>
              <td><%= order.小計 %></td>
            </tr>
        <% end %>
    </tbody>
</tablle>

<table>
    <thread>
        <tbody>
            <% @orders.each do |order| %>
          <tr>
            <td>送料</td><td><%= order.shippping_cost %></td>
            <td>商品合計</td><td><%= order.商品合計 %></td>
            <td>請求金額</td><td><%= otder.total_price %></td>
          </tr>
            <% end %>
        </tbody>
    </thread>
</table>
<h3>支払い方法</h3>
    
    
<%=f.submit "注文を確定する", class:"btn btn-success" %>