<h3>注文情報確認画面</h3>
<table>
    <thread>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thread>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td <%= attachment_image_id(item, :image_id, :fill, 50, 50, fallback: "no_image.jpg") %>>
                  <%= order.name %></td>
              <td><%= order.purchased_price %></td>
              <td><%= order.count %></td>
              <% tax = 1.1 %>
              <% subtotal = order_item.item.price * tax * order_item.item.detail %>
              <td><%= subtotal %></td>
            </tr>
        <% end %>
    </tbody>
</tablle>
<table>
    <thread>
        <tbody>
            <% @orders.each do |order| %>
          <tr>
            <td>送料</td><td><%= order.shippping_cost %></td>
            <td>商品合計</td><td><%= order.商品合計 %></td>
            <td>請求金額</td><td><%= otder.total_price %></td>
          </tr>
            <% end %>
        </tbody>
    </thread>
</table>
<div class ="payment_method">支払い方法</div>
    <%= order.payment_method %>
<div class ="payment_method">お届け先</div>
    <%= order.adress %>
    
    
<%=f.submit "注文を確定する", public_orders_complete, class:"btn btn-success" %>