<h2>注文履歴一覧</h2>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送日</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
          <th colspan="3"></th>
        </tr>
      </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.date %></td>
              <td><%= order.address_date %>
              <% order.addresses.each do |address| %>
            		<%= order.postal_code %>
            		<%= order.address%>
            		<%= order.name %>
            		<br>
	        <% end %>
              </td>
              <td><%= order.name %></td>
              <td><%= (order.total_price).to_i %>円</td>
              <td><%= order.status %></td>
              <td><%= link_to "詳細", order, :class => 'btn' %></td>
            </tr>
          <% end %>
        </tbody>
    </table>