<%# TODO:20210120@cart_item：カートに入れる商品の詳細（customer_idやitem_idはコントローラ側で取得する） %>
<%# TODO:20210120@item：商品の詳細を表示する用 %>
<%# TODO:20210120注文できる個数の最小・最大値をチームで設定する（とりあえず現在1と1000） %>

<%# <div class="container"> %>
<%# <div class="row"> %>
<%# <div class="column"> %>
<%= image_tag(@item.image_id, alt: "Item Image", id: "item-image") %>
<%# </div> %>
<%# <div class="column"> %>
<%= form_with model:@cart_item, local:true do |f| %>
<h3>@item.name</h3>
<p id="item-detail">@item.detail</p>
<p id="item-price"><span>￥<%= render "partial/expression_of_price_with_tax", item_price:item.price %></span>（税込み）</p>
<%= f.number_field :count, id: "item-count", min:1, max: 1000,placeholder: "個数選択"%>
<%= f.submit "カートに入れる"%>
<% end %>
<%# </div> %>
<%# </div> %>
<%# </div> %>