<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-3" id="item-picture">
      <%= attachment_image_tag(@item, :image, size: "200x100", fallback: "no_image.jpg") %>
    </div>
    <div class="col-5" id="item-profile">
      <h4><%= @item.name %></h4>
      <div id="item-detail">
        <%= @item.detail %>
      </div>
      <h5 id="price-with-tax-in-profile">
        <% tax = 1.1 %>
        ¥ <%= (@item.price * tax).to_i.to_s(:delimited) %><span id="with-tax">  (税込)</span>
      </h5>
      <%= form_with model: @cart_item, url: public_item_cart_items_path(@item.id) do |f| %>
        <%= f.select :count, options_for_select((1..10).to_a), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる", class: " btn btn-primary" %>
      <% end %>
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
