<div>
  <%#= attachment_image_tag(@item, :image, size: "100x100", fallback: "no_image.jpg" ) %>
</div>
<div>
  <h2><%= @item.name %></h2>
</div>
<div>
  <%= @item.detail %>
</div>
<div>
  <% tax = 1.1 %>
  ¥<%= @item.price.tax.to_i.to_s(:delimited) %><span>(税込)</span>
</div>
<%= form_with model:@cart_item , url: public_cart_items_path do |f| %>
  <%= f.select :count, options_for_select((1..10).to_a), include_blank: "個数選択" %>
  <%= f.submit "カートに入れる", class: " btn btn-primary" %>
<% end %>
